<h1>About</h1>
<p>
	<%= link_to "GIVE JUICE MONEY", "http://onemonthrails.com" %>
	is a project to line
	<%= link_to "Juice's Pockets", "http://rubyonrails.org" %>
	with cash in a short time. Go ahead. Enter your credit card.
</p>

