<%# Hero unit div %>
<div class="hero-unit">

	<h1>Welcome to GIVE JUICE MONEY!</h1>
	<p>
		You've found the home page for the
		<%= link_to "GIVE JUICE MONEY", "http://onemonthrails.com" %>
		application.
	</p>

	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	</p>

</div>

<div class="hero-unit">
	<h2>Click this button at your own risk!</h2>
	<p>
		<%= link_to "YOU WON'T", "http://realultimatepower.net", class: "btn btn-primary btn-small" %>
</div>

